* {
    margin: 0;
    padding: 0;
}

.lit-btn {
    background-color: #f9f9f9;
    color: #ff4c4c;
    font-size: 12px;
    border: 1px solid #ff4c4c;
    padding: 8px;
    text-decoration: none;
    border-radius: 8px;
}

.lit-btn:hover {
    background-color: #ff4c4c;
    color: #f9f9f9;
    transition: 1s;
}

body{background-color: #f9f9f9;}

.container {
    width: 900px;
    margin: auto;
}

.top-image {
    width: 300px;
    margin-bottom: 10px;
    background-color: #fff;
    
}

.title {
    padding-top: 50px;
    font-size: 15px;
    width: auto;
    margin-bottom: 5px;
    text-align: center;
}

.description {
    font-size: 12px;
    width: auto;
    margin-bottom: 5px;
    padding-bottom: 20px;
    text-align: center;
}

div {
    text-align: center;
    margin: 10px;
}

nav {
    overflow: hidden;
    background: #ff4c4c;
    margin-bottom: 30px;
}

nav li {
    float: left;
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: #fff;
    padding: 8px;
    display: block;
    transition: 0.5s;
}

nav a:hover{
    background: #fff;
    color: #ff4c4c;
}

.sidebar{
width: 200px;
    float: left;
    background: #fff;
    padding: 20px;
    margin-left: 10px;
}

main{
    width: 600px;
    overflow: hidden;
    background-color: #fff;
    padding: 20px;
    float: left;
}

.col-6:{width: 600px;
    overflow: hidden;
    margin-bottom: 20px;
    
}

.col-5:{
    width: 490px;
    padding: 5px;
    float: left;
}

.col-4{
    width: 390px;
    padding: 5px;
    float: left;
    
}

.col-3{
    width: 290px;
    padding: 5px;
    float: left;
    overflow: hidden;
    
}

.col-2{
    width: 190px;
    padding: 5px;
    float: left;
    
}

.col-1{
    width: 90px;
    padding: 5px;
    float: left;
}